@charset "UTF-8";
/* Анимация светофора в aside-бар */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  font-style: normal;
}

#upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  background-color: rgb(229, 234, 255);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}
#upload .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#upload .circle:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
}
#upload .circle-1 {
  background-color: #F61717;
}
#upload .circle-1:before {
  background-color: #F61717;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
#upload .circle-2 {
  background-color: #3182CE;
}
#upload .circle-2:before {
  background-color: #3182CE;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
#upload .circle-3 {
  background-color: #FFBF00;
}
#upload .circle-3:before {
  background-color: #FFBF00;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
#upload .circle-4 {
  background-color: #57D9AD;
}
#upload .circle-4:before {
  background-color: #57D9AD;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
#upload .circle-5 {
  background-color: #6674BB;
}
#upload .circle-5:before {
  background-color: #6674BB;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%, 75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%, 75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.title {
  font-family: "Baloo Cyrillic", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
}

.text-box {
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  padding: 26px;
}

.button {
  display: inline-block;
  font-weight: 600;
  border: solid 2px black;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  -webkit-transition: all 0.08s linear;
  transition: all 0.08s linear;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(102, 116, 187);
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
  -webkit-box-shadow: 0px 0px 0px 2px black;
          box-shadow: 0px 0px 0px 2px black;
  top: 0.5rem;
  left: 0.5rem;
}
.button:hover::after {
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
}
.button:active {
  background-color: rgb(102, 116, 187);
  border-color: rgb(102, 116, 187);
  color: rgb(102, 116, 187);
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
      grid-template-areas: "aside header" "aside content";
  -ms-grid-columns: 240px auto;
  grid-template-columns: 240px auto;
  -ms-grid-rows: 90px auto;
  grid-template-rows: 90px auto;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  background: white;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 385px);
  margin: 0 auto;
}

.header__notification {
  margin-right: 50px;
}

/* Анимация дёргания звоночка уведомлений при условии, что имеется  1 непрочитанное */
@-webkit-keyframes notificationActive {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@keyframes notificationActive {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
.notification {
  width: 25px;
  height: 25px;
  position: relative;
}
.notification.active {
  -webkit-animation: notificationActive 1s linear infinite alternate running;
          animation: notificationActive 1s linear infinite alternate running;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.notification.active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(88, 189, 125);
  top: -10px;
}
.notification img {
  height: 100%;
  width: 100%;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.circle-avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: rgb(102, 116, 187);
  padding: 35px 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-title, .menu-text {
  color: white;
}

.aside-title {
  text-align: center;
  cursor: cell;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.menu *:not(:last-child) {
  margin-bottom: 5px;
}
.menu .menu-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 13px;
  overflow: hidden;
  padding: 16px;
  -webkit-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
}
.menu .menu-elem:hover {
  background: rgba(133, 144, 201, 0.5);
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
}
.menu .menu-elem:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.menu .menu-elem.active {
  background: rgb(133, 144, 201);
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
}
.menu .menu-elem .menu-icon {
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.menu .menu-elem .menu-icon img {
  width: 25px;
  height: auto;
  margin-right: 28px;
}
.menu .menu-elem .menu-text {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* АНИМАЦИЯ СВЕТОФОРА В ASIDE-BAR */
@-webkit-keyframes greenLights {
  0%, 40%, 43%, 46%, 49% {
    fill: #7CDAAF;
  }
  42%, 45%, 48%, 50% {
    fill: rgb(68, 62, 62);
  }
}
@keyframes greenLights {
  0%, 40%, 43%, 46%, 49% {
    fill: #7CDAAF;
  }
  42%, 45%, 48%, 50% {
    fill: rgb(68, 62, 62);
  }
}
@-webkit-keyframes redLights {
  0%, 49%, 100% {
    fill: rgb(68, 62, 62);
  }
  50%, 99% {
    fill: #E17277;
  }
}
@keyframes redLights {
  0%, 49%, 100% {
    fill: rgb(68, 62, 62);
  }
  50%, 99% {
    fill: #E17277;
  }
}
@-webkit-keyframes yellowLights {
  0%, 81%, 100% {
    fill: rgb(68, 62, 62);
  }
  82%, 99% {
    fill: #F2D057;
  }
}
@keyframes yellowLights {
  0%, 81%, 100% {
    fill: rgb(68, 62, 62);
  }
  82%, 99% {
    fill: #F2D057;
  }
}
.traffic-lights__animation .traffic-lights__red {
  -webkit-animation: redLights 36s ease-in infinite normal forwards;
          animation: redLights 36s ease-in infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__yellow {
  -webkit-animation: yellowLights 18s ease-out infinite normal forwards;
          animation: yellowLights 18s ease-out infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__green {
  -webkit-animation: greenLights 36s ease-in infinite normal forwards;
          animation: greenLights 36s ease-in infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__red, .traffic-lights__animation .traffic-lights__yellow, .traffic-lights__animation .traffic-lights__green {
  fill: rgb(68, 62, 62);
}

/* ..анимация светофора в aside-bar */
#content-elem {
  height: 100%;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: rgb(229, 234, 255);
  position: relative;
}

.content-container {
  max-width: calc(100% - 110px);
  margin: 35px auto;
}

.content-box__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
}

.content-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 26px;
}

.home-page__content-box {
  color: rgb(102, 116, 187);
  font-family: "Century Gothic", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 0;
}

.home-page__text-box {
  margin: 30px 0;
}

.content__name-site {
  font-style: italic;
  font-weight: 400;
}

.content__paragraph {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 16px;
}