@charset "UTF-8";
/* Анимация светофора в aside-бар */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  font-style: normal;
}

/* Универсальные классы */
.title {
  font-family: "Baloo Cyrillic", sans-serif;
  font-size: 34px;
  line-height: 28px;
}

/* ...универсальные классы */
.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
      grid-template-areas: "aside header" "aside content";
  -ms-grid-columns: 240px auto;
  grid-template-columns: 240px auto;
  -ms-grid-rows: 90px auto;
  grid-template-rows: 90px auto;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  background-color: rgb(176, 33, 33);
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: rgb(102, 116, 187);
  padding: 35px 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-title, .menu-text {
  color: white;
}

.aside-title {
  text-align: center;
  cursor: cell;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.menu *:not(:last-child) {
  margin-bottom: 5px;
}
.menu .menu-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 13px;
  overflow: hidden;
  padding: 16px;
  -webkit-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
}
.menu .menu-elem:hover {
  background: rgba(133, 144, 201, 0.5);
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
}
.menu .menu-elem:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.menu .menu-elem.active {
  background: rgb(133, 144, 201);
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
}
.menu .menu-elem .menu-icon {
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.menu .menu-elem .menu-icon img {
  width: 25px;
  height: auto;
  margin-right: 28px;
}
.menu .menu-elem .menu-text {
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* АНИМАЦИЯ СВЕТОФОРА В ASIDE-BAR */
@-webkit-keyframes greenLights {
  0%, 40% {
    fill: #7CDAAF;
  }
  42% {
    fill: black;
  }
  43% {
    fill: #7CDAAF;
  }
  45% {
    fill: black;
  }
  46% {
    fill: #7CDAAF;
  }
  48% {
    fill: black;
  }
  49% {
    fill: #7CDAAF;
  }
  50% {
    fill: black;
  }
}
@keyframes greenLights {
  0%, 40% {
    fill: #7CDAAF;
  }
  42% {
    fill: black;
  }
  43% {
    fill: #7CDAAF;
  }
  45% {
    fill: black;
  }
  46% {
    fill: #7CDAAF;
  }
  48% {
    fill: black;
  }
  49% {
    fill: #7CDAAF;
  }
  50% {
    fill: black;
  }
}
@-webkit-keyframes redLights {
  0%, 49% {
    fill: black;
  }
  50%, 99% {
    fill: #E17277;
  }
  100% {
    fill: black;
  }
}
@keyframes redLights {
  0%, 49% {
    fill: black;
  }
  50%, 99% {
    fill: #E17277;
  }
  100% {
    fill: black;
  }
}
@-webkit-keyframes yellowLights {
  0%, 81% {
    fill: black;
  }
  82%, 99% {
    fill: #F2D057;
  }
  100% {
    fill: black;
  }
}
@keyframes yellowLights {
  0%, 81% {
    fill: black;
  }
  82%, 99% {
    fill: #F2D057;
  }
  100% {
    fill: black;
  }
}
.traffic-lights__animation .traffic-lights__red {
  -webkit-animation: redLights 36s ease-in infinite normal forwards;
          animation: redLights 36s ease-in infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__yellow {
  -webkit-animation: yellowLights 18s ease-out infinite normal forwards;
          animation: yellowLights 18s ease-out infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__green {
  -webkit-animation: greenLights 36s ease-in infinite normal forwards;
          animation: greenLights 36s ease-in infinite normal forwards;
}
.traffic-lights__animation .traffic-lights__red, .traffic-lights__animation .traffic-lights__yellow, .traffic-lights__animation .traffic-lights__green {
  fill: black;
}

/* ..анимация светофора в aside-bar */
.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: rgb(229, 234, 255);
}