body {
    background-color: #ebf3f3;
  }

  /* ВАУ */
  $border-radius: 4px;
  $border: 1px solid #e2eded;
  $height-block: 42px;
  $summ-option: 2;
  $color-bg: rgb(128, 214, 250), rgb(255, 198, 27);
  $font-size: 16px;
  $option-text__color: rgb(45, 54, 103);
  $width-icons: 23px;
  $def-padding: 10px;
  $def-transition: .15s ease all;


  #select-app{
    width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .text-limit{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
  }

  .form-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
    width: 100%;
    height: 100%;
  }

  .form-input, .bg-white{
    margin: 0 -#{$def-padding};
  }

  .select-box{
    width: 100%;
    position: relative;
    &.active{
      .options, .title-icons--updown{
          opacity: 1;
          pointer-events: all;
      }
    }
  }

  .title-box{
    position: relative;
    width: 100%;
    height: $height-block;
    border: $border;
    border-radius: $border-radius;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 $def-padding;
    .title-text{
      font-size: $font-size;
      line-height: 1;
      opacity: .5;
    }
    .title-icons--updown{
      width: $width-icons;
      display: inline-block;
      opacity: .4;
      transition: $def-transition;
      svg{
        fill: $option-text__color;
        width: 100%;
        height: auto;
      }
    }
  }

  @keyframes icon-jump {
    0% {
      transform: translateY(-15px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .options{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    border-radius: $border-radius;
    width: 100%;
    transition: $def-transition;
    border: $border;
    .option{
      height: $height-block;
      width: 100%;
      position: relative;
      padding: 0 $def-padding;
      cursor: pointer;
      &:hover{
        .option-icon{
          animation: icon-jump 0.3s ease 0.1s forwards;;
          .icon-active{
            fill: white !important;
          }
        }
        .option-name{
          color: white !important;
        }
      }
      .option__content-box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .option-icon{
          width: $width-icons;
          display: inline-block;
          margin-right: $def-padding;
          .icon-active{
            transition: $def-transition;
          }
          svg{
            width: 100%;
            height: auto;
          }
        }
        .option-name{
          color:  $option-text__color;
          font-size: $font-size;
          z-index: 3;
          transition: $def-transition;
        }
      }
      .bg-white{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;;
        top: 0;
        z-index: -1;
      }
    }
    .background-hover{
      position: absolute;
      top: 0;
      width: 100%;
      height: $height-block;
      opacity: 0;
      transition: .3s ease all;
      z-index: -1;
    }
  }

  @for $i from 1 through $summ-option {
    .options .option:nth-of-type(#{$i}):hover ~ .background-hover {
        background-color: nth($color-bg, $i);
        top: $height-block * ($i - 1);
        opacity: 1;
    }
  }

  .options div:first-of-type:hover ~ .background-hover{
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .options div:last-of-type:hover ~ .background-hover{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  /* ВАУ */