$aside-bg: rgb(102, 116, 187); // Цвет заднего фона ASIDE-бар
$content-bg: rgb(229, 234, 255); // Цвет заднего фона Content секции
$indent-content: 55px; // Отсуп контента от границ экрана от каждого края
/* Анимация светофора в aside-бар */
$emptylights: rgb(68, 62, 62); // Цвет негорящего светофора
$redlights: #E17277; // Цвет красного сигнала
$yellowlights: #F2D057; // Цвет желтого сигнала
$greenlights: #7CDAAF; // Цвет зеленного сигнала
$timeOneLooop: 15s; // Сколько секунд горит отдельно зеленный и отдельно красный сигналы светофора
$timeYellowLights: 3s; // Сколько секунд идёт переключение сигналов (горит желтый)



body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    font-style: normal;
}

#upload{
    $color: #F61717, #3182CE, #FFBF00, #57D9AD, #6674BB;
    $circle-size: 20px;
    $circle-margin: 7px;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    background-color: $content-bg;
    transition: opacity .2s ease;
    opacity: 1;

    .circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    margin: $circle-margin;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        opacity: 0.7;
        animation: scale 2s infinite
        cubic-bezier(0, 0, 0.49, 1.02);
    }
    }

    @for $i from 1 through 5 {
    .circle-#{$i} {
        background-color: nth($color, $i);
        &:before {
            background-color: nth($color, $i);
            animation-delay: 200ms * $i;
        }
    }
    }

    @keyframes scale {
    0% {
        transform: scale(1);
    }
    50%, 75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
    }
}

.title {
    font-family: 'Baloo Cyrillic', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 2px;
}

.text-box{
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    padding: 26px;
}
.button {
    $button-border: 2px black; // ширина бордера и его цвет
    $button-bg-position: .5rem; // размер плавающего элемента в кнопке

    display: inline-block;
    font-weight: 600;
    border: solid $button-border;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    background-color: white;
    border-radius: .35rem;
    position: relative;
    transition: all .08s linear;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $aside-bg;
        z-index: -1;
        border-radius: .35rem;
        border: solid $button-border;
        transition: all .3s ease-in-out;
        border: 0;
        box-shadow: 0px 0px 0px $button-border;
        top: $button-bg-position;
        left: $button-bg-position;
    }
    &:hover {
        &::after {
            top: -$button-bg-position;
            left: -$button-bg-position;
            width: calc(100% + $button-bg-position * 2);
            height: calc(100% + $button-bg-position * 2);
        }
    }
    &:active{
        background-color: $aside-bg;
        border-color:  $aside-bg;
        color:  $aside-bg;
    }
}

.wrapper{
    display: grid;
    height: 100%;
    grid-template-areas: "aside header"
                        "aside content";
    grid-template-columns: 240px auto;
    grid-template-rows: 90px auto;
}

.header{
    grid-area: header;
    background: white;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.header__content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - ($indent-content * 7));
    margin: 0 auto;
}

.header__notification{
    margin-right: 50px;
}

/* Анимация дёргания звоночка уведомлений при условии, что имеется  1 непрочитанное */
@keyframes notificationActive {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.notification {
    width: 25px;
    height: 25px;
    position: relative;
    &.active{
        animation: notificationActive 1s linear infinite alternate running;
        transform: rotate(0deg);
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(88, 189, 125);
            top: -10px;
        }
    }
    img{
        height: 100%;
        width: 100%;
    }
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.circle-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside{
    grid-area: aside;
    background-color: $aside-bg;
    padding: 35px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-title, .menu-text{
    color: white;
}

.aside-title {
    text-align: center;
    cursor: cell;
    user-select: none;
    transition: color .2s ease-in;
}
.menu{
    *:not(:last-child){
        margin-bottom: 5px;
    }
    .menu-elem {
        display: flex;
        border-radius: 13px;
        overflow: hidden;
        padding: 16px;
        transition: all .05s ease-in;
        &:hover{
            background: rgba(133, 144, 201, 0.5);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        &:active{
            transform: scale(0.95);
        }
        &.active{
            background: rgb(133, 144, 201);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        .menu-icon {
            height: auto;
            align-self: flex-start;
            img{
                width: 25px;
                height: auto;
                margin-right: 28px;
            }
        }
        .menu-text {
            font-family: 'Century Gothic', sans-serif;
            font-size: 16px;
            align-self: center;
        }
    }
}

/* АНИМАЦИЯ СВЕТОФОРА В ASIDE-BAR */
@keyframes greenLights {
    0%, 40%, 43%, 46%, 49%{
        fill: $greenlights
    }
    42%, 45%, 48%, 50%{
        fill: $emptylights;
    }
}

@keyframes redLights {
    0%, 49%, 100%{
        fill: $emptylights;
    }
    50%, 99%{
        fill: $redlights;
    }
}

@keyframes yellowLights {
    0%, 81%, 100%{
        fill: $emptylights;
    }
    82%, 99%{
        fill: $yellowlights;
    }
}

.traffic-lights__animation{
    .traffic-lights__red {
        animation: redLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__yellow {
        animation: yellowLights calc($timeOneLooop + $timeYellowLights) ease-out infinite normal forwards;
    }
    .traffic-lights__green {
        animation: greenLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__red, .traffic-lights__yellow, .traffic-lights__green{fill:$emptylights;}
}
/* ..анимация светофора в aside-bar */

#content-elem{
    height: 100%;
}

.content{
    grid-area: content;
    background-color: $content-bg;
    position: relative;
}

.content-container {
    max-width: calc(100% - ($indent-content * 2));
    margin: calc($indent-content - 20px) auto;
}

.content-box__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.content-box {
    background: #FFFFFF;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 26px;
}

.home-page__content-box{
    color: $aside-bg;
    font-family: 'Century Gothic', sans-serif;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    z-index: 0;
}

.home-page__text-box{
    margin: 30px 0;
}

.content__name-site {
    font-style: italic;
    font-weight: 400;
}

.content__paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 16px;
}