$aside-bg: rgb(102, 116, 187); // Цвет заднего фона ASIDE-бар
$content-bg: rgb(229, 234, 255); // Цвет заднего фона Content секции
$indent-content: 55px; // Отсуп контента от границ экрана от каждого края
/* Анимация светофора в aside-бар */
$emptylights: rgb(68, 62, 62); // Цвет негорящего светофора
$redlights: #E17277; // Цвет красного сигнала
$yellowlights: #F2D057; // Цвет желтого сигнала
$greenlights: #7CDAAF; // Цвет зеленного сигнала
$timeOneLooop: 15s; // Сколько секунд горит отдельно зеленный и отдельно красный сигналы светофора
$timeYellowLights: 3s; // Сколько секунд идёт переключение сигналов (горит желтый)



body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    font-style: normal;
}

/* Универсальные классы */
.title {
    font-family: 'Baloo Cyrillic', sans-serif;
    font-size: 34px;
    line-height: 28px;
}
/* ...универсальные классы */

.wrapper{
    display: grid;
    height: 100%;
    grid-template-areas: "aside header"
                        "aside content";
    grid-template-columns: 240px auto;
    grid-template-rows: 90px auto;
}

.header{
    grid-area: header;
    background: white;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

@keyframes carTurnWheel {
    0%{
        transform: skew(0deg);
    }
    33%{
        transform: skew(4deg);
    }
    66%{
        transform: skew(-4deg);
    }
    100%{
        transform: skew(0deg);
    }
}

@keyframes carsMove {
    0%{
        transform: translateX(-53%);
    }
    1%{
        transform: translateX(-53%);
    }
    40%{
        transform: translateX(0%);
        animation-play-state: paused;
    }
    55%{
        animation-play-state: running;
    }
    99%{
        transform: translateX(53%);
    }
    100%{
        transform: scale(-1,-1);
    }
}

.car-animation__icons{
    position: absolute;
    bottom: 50px;
    width: 100%;
    .cars-animation__container{
        width: 100%;
        position: relative;
        z-index: -1;
        .car__icon{
            width: 100%;
            height: 50px;
            position: absolute;
            animation: carsMove 10s ease infinite alternate running;
            .car-wheel{
                animation: carTurnWheel 1s linear infinite normal running;
            }
        }
    }
}

.header__content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - ($indent-content * 7));
    margin: 0 auto;
}

.header__notification{
    margin-right: 50px;
}

/* Анимация дёргания звоночка уведомлений при условии, что имеется  1 непрочитанное */
@keyframes notificationActive {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.notification {
    width: 25px;
    height: 25px;
    position: relative;
    &.active{
        animation: notificationActive 1s linear infinite alternate running;
        transform: rotate(0deg);
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(88, 189, 125);
            top: -10px;
        }
    }
    img{
        height: 100%;
        width: 100%;
    }
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.circle-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside{
    grid-area: aside;
    background-color: $aside-bg;
    padding: 35px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-title, .menu-text{
    color: white;
}

.aside-title {
    text-align: center;
    cursor: cell;
    user-select: none;
    transition: color .2s ease-in;
}
.menu{
    *:not(:last-child){
        margin-bottom: 5px;
    }
    .menu-elem {
        display: flex;
        border-radius: 13px;
        overflow: hidden;
        padding: 16px;
        transition: all .05s ease-in;
        &:hover{
            background: rgba(133, 144, 201, 0.5);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        &:active{
            transform: scale(0.95);
        }
        &.active{
            background: rgb(133, 144, 201);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        .menu-icon {
            height: auto;
            align-self: flex-start;
            img{
                width: 25px;
                height: auto;
                margin-right: 28px;
            }
        }
        .menu-text {
            font-family: 'Century Gothic', sans-serif;
            font-size: 16px;
            align-self: center;
        }
    }
}

/* АНИМАЦИЯ СВЕТОФОРА В ASIDE-BAR */
@keyframes greenLights {
    0%, 40%{
        fill: $greenlights
    }
    42%{
        fill: $emptylights;
    }
    43%{
        fill: $greenlights;
    }
    45%{
        fill: $emptylights;
    }
    46%{
        fill: $greenlights;
    }
    48%{
        fill: $emptylights;
    }
    49%{
        fill: $greenlights;
    }
    50%{
        fill: $emptylights;
    }
}

@keyframes redLights {
    0%, 49%{
        fill: $emptylights;
    }
    50%, 99%{
        fill: $redlights;
    }
    100%{
        fill: $emptylights;
    }
}

@keyframes yellowLights {
    0%, 81%{
        fill: $emptylights;
    }
    82%, 99%{
        fill: $yellowlights;
    }
    100%{
        fill: $emptylights;
    }
}

.traffic-lights__animation{

    .traffic-lights__red {
        animation: redLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__yellow {
        animation: yellowLights calc($timeOneLooop + $timeYellowLights) ease-out infinite normal forwards;
    }
    .traffic-lights__green {
        animation: greenLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__red, .traffic-lights__yellow, .traffic-lights__green{fill:$emptylights;}
}
/* ..анимация светофора в aside-bar */

.content{
    grid-area: content;
    background-color: $content-bg;
}