$aside-bg: rgb(102, 116, 187); // Цвет заднего фона ASIDE-бар
$content-bg: rgb(229, 234, 255); // Цвет заднего фона Content секции
$size-space-content_menu: 70px;
/* Анимация светофора в aside-бар */
$emptylights: black; // Цвет негорящего светофора
$redlights: #E17277; // Цвет красного сигнала
$yellowlights: #F2D057; // Цвет желтого сигнала
$greenlights: #7CDAAF; // Цвет зеленного сигнала
$timeOneLooop: 15s; // Сколько секунд горит отдельно зеленный и отдельно красный сигналы светофора
$timeYellowLights: 3s; // Сколько секунд идёт переключение сигналов (горит желтый)


body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    font-style: normal;
}

/* Универсальные классы */
.title {
    font-family: 'Baloo Cyrillic', sans-serif;
    font-size: 34px;
    line-height: 28px;
}

.click-btn {
}

.hover-btn {
}
/* ...универсальные классы */

.wrapper{
    display: grid;
    height: 100%;
    grid-template-areas: "aside header"
                        "aside content";
    grid-template-columns: 240px auto;
    grid-template-rows: 90px auto;
}

.header{
    grid-area: header;
    background-color: rgb(176, 33, 33);
}

.aside{
    grid-area: aside;
    background-color: $aside-bg;
    padding: 35px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-title, .menu-text{
    color: white;
}

.aside-title {
    text-align: center;
    cursor: cell;
    user-select: none;
    transition: color .2s ease-in;
}
.menu{
    *:not(:last-child){
        margin-bottom: 5px;
    }
    .menu-elem {
        display: flex;
        border-radius: 13px;
        overflow: hidden;
        padding: 16px;
        transition: all .05s ease-in;
        &:hover{
            background: rgba(133, 144, 201, 0.5);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        &:active{
            transform: scale(0.95);
        }
        &.active{
            background: rgb(133, 144, 201);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
        }
        .menu-icon {
            height: auto;
            align-self: flex-start;
            img{
                width: 25px;
                height: auto;
                margin-right: 28px;
            }
        }
        .menu-text {
            font-family: 'Century Gothic', sans-serif;
            font-size: 16px;
            align-self: center;
        }
    }
}

/* АНИМАЦИЯ СВЕТОФОРА В ASIDE-BAR */
@keyframes greenLights {
    0%, 40%{
        fill: $greenlights
    }
    42%{
        fill: $emptylights;
    }
    43%{
        fill: $greenlights;
    }
    45%{
        fill: $emptylights;
    }
    46%{
        fill: $greenlights;
    }
    48%{
        fill: $emptylights;
    }
    49%{
        fill: $greenlights;
    }
    50%{
        fill: $emptylights;
    }
}

@keyframes redLights {
    0%, 49%{
        fill: $emptylights;
    }
    50%, 99%{
        fill: $redlights;
    }
    100%{
        fill: $emptylights;
    }
}

@keyframes yellowLights {
    0%, 81%{
        fill: $emptylights;
    }
    82%, 99%{
        fill: $yellowlights;
    }
    100%{
        fill: $emptylights;
    }
}

.traffic-lights__animation{

    .traffic-lights__red {
        animation: redLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__yellow {
        animation: yellowLights calc($timeOneLooop + $timeYellowLights) ease-out infinite normal forwards;
    }
    .traffic-lights__green {
        animation: greenLights calc(($timeOneLooop + $timeYellowLights) * 2) ease-in infinite normal forwards;
    }
    .traffic-lights__red, .traffic-lights__yellow, .traffic-lights__green{fill:$emptylights;}
}
/* ..анимация светофора в aside-bar */

.content{
    grid-area: content;
    background-color: $content-bg;
}