  $border-radius: 4px;
  $border: 1px solid #e2eded;
  $height-block: 42px;
  $font-size: 16px;
  $option-text__color: rgb(45, 54, 103);
  $width-icons: 23px;
  $def-padding: 10px;
  $def-transition: .15s ease all;
  $nested-box-padding: 20px;


  .select-app{
    width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .text-limit{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
  }

  .title-icons{
    width: $width-icons;
    display: inline-block;
    opacity: .4;
    transition: $def-transition;
    svg{
      fill: $option-text__color;
      width: 100%;
      height: auto;
    }
  }

  .form-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
    width: 100%;
    height: 100%;
  }

  .form-input, .bg-white{
    margin: 0 -#{$def-padding};
  }

  .select-box{
    width: 100%;
    position: relative;
    &.active{
      .options, .title-icons--updown{
          opacity: 1;
          pointer-events: all;
      }
    }
  }

  .title-box{
    position: relative;
    width: 100%;
    height: $height-block;
    border: $border;
    border-radius: $border-radius;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 $def-padding;
    .title-text{
      font-size: $font-size;
      line-height: 1;
      opacity: .5;
    }
  }

  @keyframes icon-jump {
    0% {
      transform: translateY(-25px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .def-options{
    position: relative;
    border-radius: $border-radius;
    width: 100%;
    transition: $def-transition;
    border: $border;
    > .def-option{
      height: $height-block;
      width: 100%;
      position: relative;
      padding: 0 $def-padding;
      cursor: pointer;
      .option__content-box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .option-icon{
          width: $width-icons;
          display: inline-block;
          margin-right: $def-padding;
          color: rgb(255, 198, 27);
          font-size: 1.23em;
          .icon-active{
            transition: $def-transition;
          }
          svg{
            width: 100%;
            height: auto;
          }
        }
        .option-name{
          color:  $option-text__color;
          font-size: $font-size;
          z-index: 3;
          transition: $def-transition;
        }
      }
      .bg-white{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0;
        z-index: -1;
      }

      &:hover{

        > .option__content-box, > .nested-item__content-container .option__content-box{
          font-weight: 600;
        }
        > .option__content-box, > .nested-item__content-container .option__content-box{
          .option-icon{
            animation: icon-jump 0.3s ease 0.1s forwards;
            color: white;
            .icon-active{
              fill: white !important;
            }
          }
          .option-name{
            color: white !important;
          }
        }
      }
    }
  }

  .options{
    opacity: 0;
    pointer-events: none;
    .background-hover{
      position: absolute;
      top: 0;
      width: 100%;
      height: $height-block;
      opacity: 0;
      transition: .3s ease all;
      z-index: -1;
    }
  }

  .def-options > div:first-of-type:hover ~ .background-hover{
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .def-options > div:last-of-type:hover ~ .background-hover{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .nested-box{
    display: none;
    position: absolute;
    left: 100%;
    width: 60%;
    padding-left: $nested-box-padding;
    overflow: auto;

    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 5px solid transparent;
      background-clip: content-box;
      background-color: rgb(102, 116, 187);
    }
  }

  .nested-item{
    &:hover > .nested-box{
      display: block;
    }
    .nested-item__content-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      & > .option__content-box{
        margin-right: -#{$width-icons};
      }
      & > .title-icons--leftright{
        transform: rotate(90deg);
      }
    }
    &:hover > .nested-item__content-container .title-icons--leftright{
      opacity: 1;
    }
  }